<html>
<div"Style">
    <style>
    .head{
        color: #8C78E2;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
        <style>
            .address_Text{
                border-color: green;
                }
            </style>
        <style>
    body{
        text-align: center;
        background-color: #9000B3;
        }
    </style>
    <style>
    .search_Bar{
        text-align: center;
        }
    </style>
</div>

    <div"entire" class = "entire">
        <body>
            

    <h1 class = "head">
        Welcome to Mapit!
        <br>
    </h1>
    <h1 class = "address_Text">
        Please enter the designated address below!
    </h1>
    <div class="search_Bar">
        <input type="text" placeholder="Search..">
      </div>
</body>
    </div>
    
</html>