
        
        .start{
            color: #8C78E2;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

                .address_Text{
                    color: #A99AEA;
                    border-style: dashed;
                    border-width: 3px;
                    border-color: black;
                    
                    }
                    
                    .search_Bar
                    {
                        color: grey;
                    }

        body{
            text-align: center;
            background-Image: linear-gradient(purple, #152C7A);
            }


        
        
        
    

