
        
        .start{
            color: #8C78E2;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

                .address_Text{
                    color: #7A0078;
                    border-style: dashed;
                    border-width: 3px;
                    border-color: black;
                    
                    }

        body{
            text-align: center;
            background-color: #2A1976;
            }


        
        
        
    

