
        
        .start{
           
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

                .address_Text{
                    color: white;
                    text-align: center;
                    border-top-style: dashed;
                    border-top-width: 3px;
                    border-color: black;
                    
                    }
                    
                    .search_Bar
                    {
                        text-align: center;
                        color: #CCCCCC;
                    }
                    .card
                    {
                        
                        border-width: 10px;
                        border-radius: 25px;
                    }
                    .button
                    {
                        background-color: #5975a6;
                        border-width: 10px;
                        border-radius: 25px;
                        text-align: center;
                        height: 300;
                        float: right;
                        width: 300;
                        color: white;
                        
                    }
                    .infoBel{
                        color: white;
                        text-align: center;
                    }

        body{
            text-align: center;
            background-Image: linear-gradient(#333333, #474747);
            }

   


        
        
        
    

